@import-normalize;
/* bring in normalize.css styles */

:root {
  --first-color-dark: #000b29;
  --accent-color: #d70026;
  --second-color: #edb83d;
  --some-white-color: #f8f5f2;

}

body {
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(rgba(62, 19, 99, 0.5), rgba(10, 6, 26, 0.5)), url('./img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}